body {
  font-family: "Quicksand";
  font-weight: 500;
  text-align: center;
}

body h1 {
  color: white;
  text-align: center;
  font-size: 32px;
  width: 100%;
  font-family: "Quicksand";
  background: tomato;
  padding: 20px 0;
  border-bottom: 5px solid #252525;
}

section {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section #grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-grid-columns: 250px 250px 250px;
      grid-template-columns: 250px 250px 250px;
  grid-gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 150px;
}

.card-wrap {
  margin-bottom: 100px;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  top: 0;
}

.card-wrap:hover {
  top: -5px;
  opacity: 0.8;
}

.card-wrap .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0px 0px rgba(0, 0, 0, 0.8);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.card-wrap .card .card-body {
  width: 100%;
  padding: 100px 10px 12px 10px;
  position: relative;
}

.frame .img-box {
  max-width: 200px;
  margin: 0 auto;
  background: white;
  border-radius: 200px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.frame .img-box img {
  max-width: 200px;
  -webkit-filter: drop-shadow(4px 8px 3px rgba(0, 0, 0, 0.7));
          filter: drop-shadow(4px 8px 3px rgba(0, 0, 0, 0.7));
}

.text-box .pk-id {
  margin: 20px 0 0 0;
  border-radius: 100px;
  background: white;
  border: 2px solid white;
  margin: 20px 85px 0 85px;
  color: inherit;
}

.text-box .pk-name {
  text-transform: capitalize;
  font-size: 26px;
  margin: 5px 0 15px 0;
  line-height: 1;
}

.text-box .pk-types span.pk-type1, .text-box .pk-types span {
  text-transform: capitalize;
  border: 2px solid white;
  width: 80px;
  color: white;
  display: inline-block;
  padding: 5px;
  margin: 2.5px;
  border-radius: 5px;
  line-height: 1;
}

.stat-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-top: 15px;
  background: white;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  padding: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.stat-grid div {
  font-size: 16px;
  margin-bottom: 15px;
  color: #252525;
  font-weight: 700;
}

.stat-grid div p {
  margin: 0;
  font-size: 12px;
}

.stat-grid div:nth-of-type(1) {
  color: #ff5959;
}

.stat-grid div:nth-of-type(2) {
  color: #f5ac78;
}

.stat-grid div:nth-of-type(3) {
  color: #fae078;
}

.stat-grid div:nth-of-type(4) {
  color: #fa92b2;
}

.stat-grid div:nth-of-type(5) {
  color: #9db7f5;
}

.stat-grid div:nth-of-type(6) {
  color: #a7db8d;
}

@media only screen and (max-width: 500px) {
  #grid {
    -ms-grid-columns: 1fr  !important;
        grid-template-columns: 1fr  !important;
  }
}
/*# sourceMappingURL=style.css.map */